<div *ngIf="hasError" class="error">An error has happened to access the API.</div>
<div *ngIf="loading" class="loading"><span>Loading...</span><img src="assets/images/loading.gif"/></div>
<div class="report">
    <ul *ngIf="courseList">
    <li *ngFor="let course of courseList | keyvalue">
        <p class="year">123{{course.key}}</p>
        <ul *ngIf="course.value">
        <li *ngFor="let subject of course.value | keyvalue">
            <p class="subject">{{subject.value}}</p>
        </li>
        </ul>
    </li>
    </ul>
</div>