$primary: rgb(123,0,255);

body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

header{
    padding: 10px;
    background: $primary;
    a {
        color: white;
        text-decoration: none;
    }
    nav {
        ul {
            list-style-type:  none;
            margin: 0;
            display: flex;
        }
    }
}

.container{
    width: 80%;
    margin: 0 auto;
}